window#waybar {
	background: transparent;
	color: #fdf6e3;
	padding: 1px 0;
	min-height: 20px;
	font-size: 15px;
}

.modules-right {
	margin: 2px 10px 0 0;
}

.modules-center {
	margin: 2px 0 0 0;
}

.modules-left {
	margin: 2px 0 0 5px;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}

#pulseaudio {
	color: #268bd2;
}

#memory {
	color: #2aa198;
}

#cpu {
	color: #6c71c4;
}

#battery {
	color: #859900;
}

#battery.warning {
	color: #d08535;
}

#battery.critical {
	color: #ca4238;
}

#disk {
	color: #b58900;
}
